# Ignore local environment secrets
.env

# Ignore Kaggle cache files
.kaggle/

# Ignore massive raw dataset folders
brain_tumor_data/

# Ignore compiled python files and visual outputs
__pycache__/
*.pyc
*.png